<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="">

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Start Weekly Newsletter</title>

    <link rel="stylesheet" type="text/css" href="/libs/animate-css/animate.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/bootstrap-grid-3.3.1.min.css">

    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/iconmonstr/css/iconmonstr-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/mozilla.css">
    <link rel="stylesheet" type="text/css" href="/css/edge.css">
    <!--[if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/media.css">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />



    <script type="text/javascript" src="/libs/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/libs/jquery/jquery-migrate-1.4.1.min.js"></script>

    <script type="text/javascript" src="/libs/wow/wow.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>

</head>
<body>
    <div class="overlay_block"></div>

    <header class="page_header">
        <div class="header_outer">
            <div class="container">
                <div class="header_inner">
                    <div class="logo col">
                      <img src="/img/startupweekly.svg" height="30" width="200" />
                    </div>

                </div>
            </div>
        </div>
    </header>

    <main class="main_block_page">
        <div class="page_title">
            <div class="container">
                <div class="page_title_inner">
                    Top startup news delivered weekly to your inbox.
                </div>
                <div class="subscribe_title">
                    Subscribe now for free
                </div>
            </div>
        </div>

        <div class="subscribe_form">
            <div class="container">
              @if(flashMessage('notification'))
                <div class="alert alert-success reset"> {{ flashMessage('notification') }} </div>
              @endif
                <div class="subscribe_form_inner">
                    <div class="subscribe_form_inputs">
                      <form action="/create" method="POST">
                        {{ csrfField() }}
                        <div class="input">
                            <input type="text" placeholder="Enter your email" name="email">
                        </div>
                        <div class="submit">
                            <input type="submit" value="Subscribe now">
                        </div>
                      </form>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="page_footer">
      <!--
        <div class="partners_outer">
            <div class="container">
                <div class="partners_inner">
                    <div class="partner_item col">
                        <img src="img/partner1.png" alt="">
                    </div>
                    <div class="partner_item col">
                        <img src="img/partner2.png" alt="">
                    </div>
                    <div class="partner_item col">
                        <img src="img/partner3.png" alt="">
                    </div>
                    <div class="partner_item col">
                        <img src="img/partner4.png" alt="">
                    </div>
                    <div class="partner_item col">
                        <img src="img/partner5.png" alt="">
                    </div>
                    <div class="partner_item col">
                        <img src="img/partner6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
      -->
        <div class="copyright_outer">
            <div class="container">
                <div class="copyright_inner">
                    <div class="copyright col">
                        <div class="copyright_inner_block">
                            <div class="footer_logo">&copy; 2018 Startup Weekly</div>
                            <div class="footer_copyright">All rights reserved.</div>
                        </div>
                    </div>
                    <div class="terms col">
                        <div class="terms_inner">
                            <div class="terms_of_use">
                                <a href="https://docs.google.com/document/d/1Pv6dG7GMQVfjd4x5xpTH2C_aOkPR7vNwYyL0vppZRqk/edit?usp=sharing">Terms of use</a>
                            </div>
                            <div class="privacy">
                                <a href="https://docs.google.com/document/d/1oFk2ycjLZ4zEEg-2qkdFop9tBuLcEgu2TdJH0tbyxng/edit?usp=sharing">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="https://decimeter.co/img/shared/decimeter.svg" width="100" height="50"/>
            </div>
        </div>
    </footer>
</body>
</html>
